VOICE_SHIELD_DATABASE_PATH=../data/voice_shield.sqlite3
VOICE_SHIELD_TEMP_AUDIO_DIR=../data/temp
VOICE_SHIELD_REFERENCE_VOICE_DIR=../data/reference_voices
VOICE_SHIELD_DEEPFAKE_WEIGHT=0.45
VOICE_SHIELD_PROSODY_WEIGHT=0.15
VOICE_SHIELD_SPEAKER_WEIGHT=0.20
VOICE_SHIELD_CONTEXT_WEIGHT=0.20
VOICE_SHIELD_DEEPFAKE_MODEL_ID=
